/* To prevent some problems with different Browsers */
* {
	padding: 0px;
	margin: 0px;
}
/* Design */
/* Colors: 
fbb681
fbede2
fbf4ee

8192fb
*/
body {
	font: 12px  Verdana,sans-serif;
	line-height: 1.6em;
}
a {
	text-decoration: none;
	border-bottom: 1px dotted #1a1aa8;
}
a:link a:active a:hover a:focus a:visited {
	color: #1a1aa8;
}	
img {
	border: none;
}
td, th {
	padding-left: 0.5em;
}
#wrap {
	border: 2px solid #6a7690;
	position: top;
	width: 800px;
	margin: 10px auto;
	text-align: left;
	background-color: #fbfbfd;
}
#header {
	float: left;
	width: 800px;
	height: 400px;
	background-image: url(winter.jpg);
	border-bottom: 2px solid #fff;
	position: relative;
}
#h1 {
	padding: 430px 60px 20px 60px;
	border-bottom: 3px dashed #aeae8d;
}
#menu {
	float: left;
	width: 200px;
	height: 100%;
	padding: 30px 0 40px 0px;
	margin: 0 5px 0 0;
}
#content {
	padding: 20px;
	padding-left: 200px;
}
#footer {
	padding: 1em 0 2em 0;
	width: 800px;
	float: left;
}
#footer p {
	font-size: 0.7em;
	text-align: center;
}

#h1 h1 {
	font-family: DejaVu, FreeSans, "Century Gothic", Verdana, sans-serif;
	padding; 0 0 200px 0;
	font-size: 2.2em;
	color: #303033;
	font-weight: bold;
}

#menu ul {
	padding-left: 40px;
	list-style-image: url(list.png);
}
#menu li {
	padding-bottom: .4em;
}
#menu li a {
	color: #000;
	border: none;
}
#menu li.open > a {
	font-weight: bold;
}

#menu ul.level2 {
	padding-left: 10px;
	list-style-image: url(list2.png)
}
#menu ul.level2 li:first-child {
	padding-top: .4em;
}
#menu ul.level3 {
	padding-left: 8px;
}
#menu li.level3 {
	list-style-image: url(list3.png);
}

#content h2, h3, h4, h5, h6 {
	font-family: DejaVu, FreeSans, "Century Gothic", Verdana, sans-serif;
	color: #303033;
	padding: 3em 0 .5em 10px;
	margin-bottom: 1.5em;
	border-bottom: 3px dashed #aeae8d;
	font-weight: bold;
}
#content h2 {
	font-size: 2.2em;
}
#content h3 {
	font-size: 1.9em;
}
#content h4 {
	font-size: 1.6em;
}
#content h5 {
	font-size: 1.3em;
	font-weight: normal;
}
#content h6 {
	font-size: 1em;
	font-weight: normal;
}
#content p {
	padding-top: .5em;
	padding-bottom: .5em;
}
#content ul, ol {
	padding-left: .8em;
	list-style-type: square;
}
#content ul ul {
	list-style-type: disc;
}
#content li {
	margin-left: 1em;
}
#content dt {
	font-weight: bold;
}
#content dd {
        padding-bottom: 1em;
	padding-left: 1em;
}
/* Gallery */
/* width is: #wrap width minus #content padding minus gallery padding minus gallery border. */
.gallery {
	padding: 10px;
	margin: 1em 0 2em;
	width: 538px;
	float: left;
/*	border: #909099 1px solid;
	background-color: #fbf4ee;*/
}
.gallery h3 {
	padding: 1em 0 0.5em 0;
	margin: 0px;
	margin-bottom: .5em;
	text-align: center;
	border-width: 2px;
}
.gallery dl {
	padding: 0px;
	padding-bottom: 10px;
	margin: 5px 10px 15px 10px;
	float: left;
	width: 220px;
	background-color: #fff;
	border: 1px solid #eee;
}
.gallery dl:hover {
	background-color: #767d99;
	color: #fff;
}
.gallery dt {
	padding: 11px 11px 6px 11px;
	margin: 9px 8px 4px 8px;
	border: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.gallery dt a {
	border: none;
}
.gallery dt img {
	width: 180px;
}
.gallery dd {
	padding: 5px 10px 8px 10px;
	font-size: .8em;
	line-height: 1.4em;
}
.gallery dd.onlyDesc {
	margin: 25px 15px 25px 20px;
}
/* Thumbnails */
.imgthumb {
	padding: 0px;
	margin: 0.5em 0.5em 1em 0.5em;
	display: inline;
}
.imgthumb:hover {
	background-color: #f3f1f6;
}
.imgthumb dl {
	width: 228px;
	padding-left: 12px;
	padding-right: 10px;
}
.imgthumb dt img {
	padding: 12px;
	margin-top: 8px;
	background-color: #fff;
	border: 1px solid #bbb;
}
.imgthumb a {
	border: none;
}
.imgthumb dd {
	padding: 1em 16px 2em 0px;
	font-size: .8em;
	line-height: 1.4em;
}
.external {
	background: url(external.png) center right no-repeat;
	padding-right: 14px;
}
.external:visited {
	background-image: url(external_visited.png);
}
.code {
	padding: 0.5em 1em 0.5em 1em;
	margin: 1em 0 1em 0;
	width: auto;
	background-color: #f0fff0;
	border: 2px solid #fff;
	display: block;
}
.code:hover {
	border: 2px dashed #7db27d;
}
.command {
	padding: 0.2em 1em 0.2em 1em;
	margin: .4em 1em 0 1em;
	width: auto;
	background-color: #444;
	color: #fff;
	border: 2px solid #444;
	display: block;
}
.command:hover {
	background-color: #444;
	border: 2px solid #bbb;
}
em {
	padding-left: 0.05em;
	padding-right: 0.15em;
}
.right {
	float: right;
	clear: right;
	margin: 1em 0em 1.5em 1em;
}
.left {
	float: left;
	clear: left;
	margin: 1em 1em 1.5em 0em;
}
cite.example {
	padding: 1em;
	margin: 0.5em 0 1em 0;
	background-color: #f1f0f2;
	border: 3px solid #fff;
	font: 12px serif normal;
	display: block;
	line-height: 1.5em;
}
cite.example:hover {
	border: 3px dotted #c7b1dd;
}
#toc {
	border: 1px dotted;
	padding: 1em;
	width: 50%;
}
#toc ol {
	list-style-type: georgian;
}
#toc a {
	border-bottom: none;
}
#toc h2 {
	font-size: 1.2em;
	border-bottom: none;
	background-image: none;
	padding-top: .5em;
	padding-bottom: .2em;
}
.toplink {
	text-align: right;
	clear: both;
	display: block;
}
.toplink a {
	padding-right: 22px;
	background: url(top.png) center right no-repeat;
	border-bottom: none;
	color: #3d342f;
}