* {
	padding: 0;
	margin: 0;
}
body {
	font: 12px  Verdana,sans-serif;
	line-height: 1.6em;
}
#wrap {
	margin: auto;
	width: 800px;
	text-align: center;
}
#image {
	float: left;
	width: 800px;
	margin-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	display: block;
	text-decoration: none;
	color: #000;
}
#image img {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
}
#name {
	float: left;
	text-align: center;
	width: 800px;
}
#name h1 {
	font-family: DejaVu, FreeSans, "Century Gothic", Verdana, sans-serif;
	padding: 2em 0 .5em 10px;
	margin-bottom: 1.5em;
	font-weight: bold;
}
#desc {
	float: left;
	text-align: center;
	width: 800px;
	padding-bottom: 2em;
}
#desc dd {
	font-weight: bold;
}
#desc .back, #nav a {
	text-decoration: none;
	font-weight: bold;
	padding: .5em;
	margin: .5em auto;;
	border: 1px solid #ddd;
	background-color: #fff;
	color: #000;
	display: block;
	width: 50%;
}
#desc .back:hover, #nav a:hover {
	background-color: #dbdfff;
}
#nav {
	margin-left: auto;
	padding-top: 0;
	margin-top: 0;
	width: 25%;
}
#nav a {
	margin-top: 0;
	padding-top: 0;
	border-top-width: 0px;
	width: 80%;
}